/* CSS */

body{
  margin: 0;
  padding: 0;
}

.carousel-inner {
    height: 100vh;
}

.carousel-inner img {
    object-fit: cover;
    object-position: center center;
    height: 100% !important;
    width: 100%;
}

.carousel-inner .item {
    height: 100%;
    position: relative;
}