/* CSS */

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.carousel-inner {
    height: 100vh;
}

.carousel-inner img {
    object-fit: cover;
    object-position: center center;
    height: 100% !important;
    width: 100%;
}

.carousel-inner .item {
    height: 100%;
    position: relative;
}

.topDiv{
  height: 300px;
  background-color: red;
}
.bottomDiv{
  height: 300px;
  background-color: yellow;
}